
.cursor-pointer
{
    cursor: pointer;
}

h3{
    font-size: 40px;
}

.chat-section{
    display: none;
}

#chat-container{
    background-color: lightblue;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.border{
    width: 75%;
}

.btn-primary{
    background-color:  #007bff;
    color:white ;
}

.offline-status{
    color:red;
}

.online-status{
    color:green;
}